
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px
  }
  
 #map-canvas{
		height: 100%;
	}


body {
	font-family: "Open Sans", sans-serif;
	color: #686868;
	font-size: 15px;
	background-color: #6B7283;
}


.clear{
	clear: both;
}

a {
	text-decoration: none;
	color: #79accd;
}


h1, h2, h3, h4, h5, h6 {
	margin-bottom: 17px;
	font-weight: 300;
	
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
	margin-bottom: 15px;
}

	
	#control{
		float: left;
		color: #D8D8DD;
		width: 15%;
		padding: 50px 30px 10px 30px;
		border-right: 1px solid black;
	}

